@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.bg-blue {
    background-image: linear-gradient(#caddf5, rgba(255, 255, 255, 0)) !important;
}

h1, h2, h3, h4, .nav-link {
    font-family: 'Carter One', cursive;
}

.price {
    font-weight: bold;
    font-size: 24px;
}

.carousel-inner {
    max-height: 800px;
}
.carousel-item{
    vertical-align: center;
}